In [1]:
import pandas as pd
import numpy as np

In [ ]:
1## 1.1 [lamda](http://www.python-course.eu/python3_lambda.php)

# 1 [art of avoiding nested code](https://medium.com/the-python-corner/the-art-of-avoiding-nested-code-ec8a780089b7)

In [2]:
#The general syntax of a lambda function is quite simple: 
#lambda argument_list: expression 

def f(x): return x**2 
print (f(8))

g = lambda x: x**2 
print (g(8))

###using lambda with map 
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]

#map syntax: r = map(func, seq)
foo_1= map(lambda x:x+1,foo)
print (foo_1)

### using lambda with filter
foo_2=filter(lambda x:x%2==0,foo)
print (foo_2)
print (list(foo_2))

### using lambda with reduce
#reduce is an accumulative loop..this example is by ((1+2)+3)+4
import functools
fo=[1,2,3,4]
foo_3= functools.reduce(lambda x,y:x+y,fo)
print (foo_3)

64
64
[3, 19, 10, 23, 18, 25, 9, 13, 28]
[2, 18, 22, 24, 8, 12]
[2, 18, 22, 24, 8, 12]
10

### 1.2 [list_comprehension](http://www.python-course.eu/python3_list_comprehension.php)  almost as fast as map;

In [4]:
res = [x for x in range(3)]#【variable (for loop with the variable)】
print(res)

print ([(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2])
#solve x**2+y**2=z**2 

S = [x**2 for x in range(10)]
V = [2**i for i in range(13)]
M = [x for x in S if x % 2 == 0]
print (S); print (V); print (M)

[0, 1, 2]
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

## 3 use variables in a string

In [5]:
my_name = 'Zed A. Shaw'
my_age = 35 # not a lie
my_height = 74 # inches
my_eyes = 'Blue'
my_teeth = 'White'
my_hair = 'Brown'

print ("Let's talk about %s." % my_name)
print ("He's got %s eyes and %s hair." % (my_eyes, my_hair))
print ("His teeth are usually %s depending on the coffee." % my_teeth)

# this line is tricky, try to get it exactly right
print ("If I add %d, %d, and %d I get %d." % (
    my_age, my_height, my_weight, my_age + my_height + my_weight))

#%s is used as a placeholder for string values you want inject into a formatted string.

#%d is used as a placeholder for numeric or decimal values.

Let's talk about Zed A. Shaw.
He's got Blue eyes and Brown hair.
His teeth are usually White depending on the coffee.
If I add 35, 74, and 180 I get 289.

In [6]:
## use {} as place holder 然后用 .format assign 进入{}
print ('{},{},{}'.format('ab',my_name,'c'))

##f-strings
print (f'my name is {my_name}, my age is {my_age}') #在string前面加一个f，可以让{name}表明在string里面放入variable my_name。

ab,Zed A. Shaw,c
my name is Zed A. Shaw, my age is 35

## 4 array and list is big difference

In [13]:
import numpy as np
# a=range(40)
#a[2,5] list里面只能取一个或者slice一整段，不能用一个list选择


a=np.array(range(40))
b=list([2,3,6])
c=np.array(range(2,6)+[7])
a[c]

array([2, 3, 4, 5, 7])

## 5 [sorted](https://developers.google.com/edu/python/sorting)

In [ ]:
strs = ['aa', 'BB', 'zz', 'CC']
print sorted(strs)  
print sorted(strs, reverse=True)

In [ ]:
strs = ['ccc', 'aaaa', 'd', 'bb']
print sorted(strs, key=len)#根据单词长度排序
list_of_medals = [('Italy', 5), ('Russia', 10), ('Germany', 16),('Ireland', 10), ('Spain', 9), ('Albania', 8), ('Lithuania', 7), ('Iceland', 6), ('Sweden', 24), ('Malta', 5), ('Estonia', 4), ('Turkey', 4), ('Moldova', 2), ('Serbia', 4),  ('Azerbaijan', 2)]
sorted(list_of_medals, key=lambda tup: (-tup[1], tup[0]))#先按照数字倒排序，数字一样再按照阿拉伯正排序

## 6 ZIP

In [2]:
##zip for list adding, zip helps to get multiple values in order for multiple lists
x=[1,2,3]
y=[4,5,6]
z=[7,8,9]
xyz=zip(x,y,z)
list(xyz)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [1]:
for stock, ma5, ma10 in zip(kLine['secID'].values, kLine['MA5'].values, kLine['MA10'].values):   
        #遍历kline中secid，ma5，ma10的值，这个ZIP是什么意思，不太懂，待会再解决
        if ma5 > ma10:                           #如果ma5>ma10
            duotou[stock] = True                    #duotou这个字典中某stock对应的值是TRUE，
        else:
            duotou[stock] = False                  #否则duotou{stock：FALSE}
            
#上面这段用的zip相当厉害。。用在for的loop里面可以同时调用多个item

NameError: name 'kLine' is not defined

In [11]:
x=[1,2,3]
y=[4,5,6]
z=[7,8,9]
xyz=zip(x,y,z)
print (xyz)
for a,b,c in xyz:
    print (a,b,c)

<zip object at 0x000001CB2810AAC8>
1 4 7
2 5 8
3 6 9

## 6 list insert& pop

In [15]:
listi=['apple','pear','mangos','water','car']

In [16]:
listi.insert(2,'ball')
listi

['apple', 'pear', 'ball', 'mangos', 'water', 'car']

In [17]:
listi.pop(3)
listi

['apple', 'pear', 'ball', 'water', 'car']

## 7 Recursion

In [4]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [5]:
factorial(4)

24

# 8class

In [29]:
# create class
class User:
    # variable constructor
    def __init__(self, name, email, age):
        self.name=name
        self.email=email
        self.age=age
    
    #method constructor
    def greeting(self):
        return f'my name is {self.name} and i am {self.age}'
    
    def has_birthday(self):
        self.age+=1

# init a user object
brad = User('brad traversy','brad@gmail.com', 37)
print (brad.age)

#edit property
brad.age= 48
print (brad.age)

#call method
print (brad.greeting())

#call method
brad.has_birthday()

#call method
print (brad.greeting())

37
48
my name is brad traversy and i am 48
my name is brad traversy and i am 49

In [37]:
##one class use the other class inherience
class Customer(User):
    def __init__(self, name, email,age):
        self.name=name
        self.email=email
        self.age=age
        self.balance=0
    
    def set_balance(self, balance):
        self.balance=balance
        
   
    def greeting(self):
        return f'my name is {self.name} and i am {self.age} and I owe balance of {self.balance}'
        
# init customer

john = Customer('john', 'john@gmail.com',40)
john.set_balance(500)

print (john.balance)
print (john.greeting())

500
my name is john and i am 40 and I owe balance of 500

# json

In [38]:
import json

#sample json, usually is fetched from api

userJSON=' {"first_name":"john", "last_name":"doe","age":30}'

In [41]:
#parse to dict
user= json.loads(userJSON)#read as dict
print (user)
print (user['age'])

{'first_name': 'john', 'last_name': 'doe', 'age': 30}
30

In [43]:
#create json from dict
car={'make':'ford','model':'mustang','year':1970}
carJSON=json.dumps(car)

In [44]:
carJSON

'{"make": "ford", "model": "mustang", "year": 1970}'